fieldWidth = 607px
fieldHeight = 383px
.wrap {
	position: absolute
	z-index: 1
	top: 50%
	left: 50%
	margin-left:-(fieldWidth / 2)
	margin-top:-(fieldHeight / 2)
	width: fieldWidth
	height: fieldHeight
	img {
		width: fieldWidth
		height: fieldHeight
	}
}

input {
	position: absolute
	z-index: 100
	top: -40px
	left: 0
	width: 30px
	height: 30px
	background: oldlace
	&:checked ~ .mask_first {
		display: none
	}
	&:checked ~ .mask_second {
		display: block
	}
}


.mask_first {
	position: absolute
	z-index: 2
	top: 0
	left: 0
	width: 100%
	height: 100%
	svg {
		position: absolute
		z-index: 10
		path:hover {
			fill: #669933
		}
		polygon:hover {
			fill: #669933
		}
	}
	ul {
		position: absolute
		top:0
		width: 100%
		height: 100%
		li {
			position: absolute
			z-index: 20
			color: white
			.percent {
					font-size: 23px
			}
			.part {
					font-size: 14px
			}
			&:nth-child(1) {
				top: 30px
				left: 10px
			}
			&:nth-child(2) {
				top: 40px
				left: 70px
			}
			&:nth-child(3) {
				top: 250px
				left: 40px
			}
			&:nth-child(4) {
				top: 200px
				left: 150px
			}
		}
	}
}
.mask_second {
	display: none
	position: absolute
	z-index: 2
	top: 0
	left: 0
	width: 100%
	height: 100%
	li {
		position: absolute
		width: 10px
		height: 10px
		background: #000000
		border-radius: 100px
		&:hover {
			.tooltip {
				display: block
			}
		}
		.tooltip {
			position: absolute
			top: -80px
			display: none
			padding: 10px
			width: 150px
			background: #000000
			color: white
			.name {
				.rate {
					color: yellow
				}
			}
		}
		&:nth-child(1) {
			top: 150px
			left: 300px
		}
		&:nth-child(2) {
			top: 135px
			left: 300px
		}
		&:nth-child(3) {
			top: 135px
			left: 280px
		}
		&:nth-child(4) {
			top: 125px
			left: 290px
		}
		&:nth-child(5) {
			top: 145px
			left: 290px
		}
	}
}
